{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</td>
            <td>{{content}}</td>

        </tr>
    {{/articleList}}

    </tbody>
</table>

<a href="articles/new" title="새로 만들기">New Article</a>

{{>layouts/footer}}