{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}

    </tbody>
</table>
<a href ="/articles/{{article.id}}/edit" title="수정하기" class="btn btn-primary">Edit</a>
<!-- GET, a 태그 즉, 링크를 사용! -->
<a href ="/articles/{{article.id}}/delete" title="삭제하기" class="btn btn-danger">Delete</a>
<a href ="/articles" title="기본 홈으로">Go to Article List</a>


{{>layouts/footer}}